@import url('https://fonts.googleapis.com/css?family=Saira');

img#logoIndex {
	width: 5%;
	margin-left: 25%;
	border-radius: 25em;
    margin: auto;
    float: left;
}

div#corpo {
	margin-right: 17%;
	margin-left: 17%;
	font-family: 'Saira', sans-serif;
}

img#logoFooter {
	width: 2%;
}

.top-bar, .top-bar ul {
    background: url(https://i.imgur.com/2vOXiPV.jpg?1);
    border-radius: 3em;
    color: #f5f5f5;
    padding-right: 15%;
	padding-left: 15%;
}

.callout.large {
    padding: 3rem;
    border: none;
}

#codephoto {
	width: 26em;
	height: 13em;
	float: right;
    border-radius: 0.9em;
}
.callout.large {
	background-image: url("img/fundo1.png");
}

.top-bar {
	float: center;
}

img.icon {
	height: 1.1em;
    width: 1em;
}

#gifjogo {	
	height: 5em;
    width: 5em;
}

p.blocktext {
    margin-left: auto;
    margin-right: auto;
}

.vertical.medium-horizontal.menu.expanded.text-center {
    margin-bottom: 2em;
}

.centro {
    position:absolute;
    left: :50%;
}