@import url('https://fonts.googleapis.com/css?family=Saira');
@import url('https://fonts.googleapis.com/css?family=Arvo');

body {	
	font-family: 'Saira', sans-serif;
    margin-top: 5em;	
}

img#logoIndex {
	width: 7%;
    float: left;
}

div#corpo {
	margin-right: 17%;
	margin-left: 17%;
}

div#master {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A9C8C8', endColorstr='white')";
    background: linear-gradient(to bottom, #A9C8C8 0%, white 100%);
    overflow: hidden;
    height: 90%;
	width: auto;
}

.linhaInicio {	
	font-size: 1.8em;
    line-height: 50px;
    color: #fff;
    text-align: center;
    margin-top: 2%;
    box-sizing: border-box;
    width: 100%
}

.linhaInicio span {
	padding: 0 10px 5px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    border-radius: 3px;    
}

#botaoDownload {
	text-align: center;
    margin: 1em auto 0;
}

#botaoDownload a {
	border-radius: 1em;
	color: white;
}

#master p {	
	font-size: 0.8em;
	color: #555;
	text-align: center;
}

img#logoFooter {
	width: 2%;
}

.top-bar {
    padding-right: 15%;
	padding-left: 15%;
}
.top-bar ul { 
    padding-right: 15%;
    padding-left: 15%;      
    border-radius: 3em;
    background-color: black;
}

.top-bar ul li a{
	color: white;
} 

.callout.large {
    padding: 3rem;
    border: none;
}

#codephoto {
	width: 26em;
	height: 13em;
	float: right;
    border-radius: 1.5em;
    margin-top: -15%;
}
.callout.large {
	background-image: url("img/fundo1.png");
}

img.icon {
	height: 1.1em;
    width: 1em;
}

#gifjogo {	
	height: 5em;
    width: 5em;
}

#Jerimum {
    background: linear-gradient(to bottom, white 0%, #A9C8C8 100%);
	text-align: center;
    margin-top: 2%;
}

img#logoIndexFooter {
    float: left;    
	width: 5em;

}

#videojogo {
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 25);
    overflow: hidden;
}

#videocdg {
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 25);
    overflow: hidden;
}

h2.Arvo {
    font-family: 'Arvo', serif;
}


@media screen and (max-width: 750px) {
    body {
        margin-top: 1.5em; 
        width: auto;
    }

    .top-bar {
        background:#000 !important; 
    }

    .top-bar {        
        padding: 1%;
    }

    .top-bar ul { 
        padding: 0%;   
        border-radius: 3em;
        background-color: black;
    }

    .lado-esquerdo .menusuperior-link {
     padding-left: 0%;
    }

    #codephoto {
        margin-top:5px;
    }

    .esconde-mobile {display: none; }

    div#master {      
        height: auto;  
    }
}

