@import url('https://fonts.googleapis.com/css?family=Saira');

body {	
	font-family: 'Saira', sans-serif;	
}
img#logoIndex {
	width: 5%;
	margin-left: 25%;
    margin: auto;
    float: left;
}

div#corpo {
	margin-right: 17%;
	margin-left: 17%;
}

div#master {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A9C8C8', endColorstr='#A8B3C2')";
    background: linear-gradient(135deg, #A9C8C8 0%, #A8B3C2 100%);
    overflow: hidden;
    height: 82%;
	width: auto;
}

.linhaInicio {	
	font-size: 1.8em;
    line-height: 50px;
    color: #fff;
    text-align: center;
    margin-top: 2%;
    box-sizing: border-box;
    width: 100%
}

.linhaInicio span {
	padding: 0 10px 5px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    border-radius: 3px;    
}

#botaoDownload {
	text-align: center;
    margin: 1em auto 0;
}

#botaoDownload a {
	border-radius: 1em;
	color: white;
}

#master p {	
	font-size: 0.8em;
	color: #555;


	text-align: center;
}

img#logoFooter {
	width: 2%;
}

.top-bar {
    padding-right: 15%;
	padding-left: 15%;
}
.top-bar ul { 
    padding-right: 15%;
    padding-left: 15%;      
    border-radius: 3em;
    background-image: url("https://i.imgur.com/2vOXiPV.jpg?1");
}

.top-bar ul li a{
	color: white;
} 
.callout.large {
    padding: 3rem;
    border: none;
}

#codephoto {
	width: 26em;
	height: 13em;
	float: right;
    border-radius: 1.5em;
    margin-top: -15%;
}
.callout.large {
	background-image: url("img/fundo1.png");
}

img.icon {
	height: 1.1em;
    width: 1em;
}

#gifjogo {	
	height: 5em;
    width: 5em;
}

#Jerimum {
	background-image: url(../img/fundoJogos.jpg);	
	text-align: center;
	border-radius: 10em 10em 0 0;
}
#Jerimum2 {
	padding: 13%;
}
img#logoIndexFooter {
    float: left;    
	width: 5%;
}