@import url('https://fonts.googleapis.com/css?family=Saira');

span {
	padding: 2px 10px 3px;
    background-color: rgba(0, 0, 0, 0.05);
    position: relative;
    left: -10px;
    color: #666;
    border-radius: 3px;
    -webkit-box-decoration-break: clone;
}

.page-content {
	margin-top: 2%;	
	font-family: 'Saira', sans-serif;
    color: #777;
}

#download {
	padding: 10px;
	border: 1px solid black;
	border-radius: 2px;
	border-color: #777;
	margin-bottom: 1em;
}

#dl {
	margin-top: 0.2em;
	margin-left: 3em;
    list-style-type: circle;
}

#usar {
	margin-top: 0.2em;
	margin-left: 3em;
}

h6 {
	margin-top: 2%;
	margin-bottom: 2%;
}

