@import url('https://fonts.googleapis.com/css?family=Saira');

img#logoIndex {
	width: 5%;
	margin-left: 25%;
    margin: auto;
    float: left;
}

div#corpo {
	margin-right: 17%;
	margin-left: 17%;
	font-family: 'Saira', sans-serif;
}

img#logoFooter {
	width: 2%;
}

.top-bar {
    padding-right: 15%;
	padding-left: 15%;
}
.top-bar ul { 
    padding-right: 15%;
    padding-left: 15%;      
    border-radius: 3em;
    background-image: url("https://i.imgur.com/2vOXiPV.jpg?1");
}

.top-bar ul li a{
	color: white;
} 
.callout.large {
    padding: 3rem;
    border: none;
}

#codephoto {
	width: 26em;
	height: 13em;
	float: right;
    border-radius: 1.5em;
    margin-top: -15%;
}
.callout.large {
	background-image: url("img/fundo1.png");
}

img.icon {
	height: 1.1em;
    width: 1em;
}

#gifjogo {	
	height: 5em;
    width: 5em;
}

.flex-video.widescreen.vimeo {
	border-radius: 0 0 10em 10em;
	margin-bottom: 3%;
}

#Jerimum {
	background-image: url(../img/fundoJogos.jpg);	
	text-align: center;
	border-radius: 10em 10em 0 0;
}
#Jerimum2 {
	padding: 13%;
}
img#logoIndexFooter {
    float: left;    
	width: 5%;
}